# .vscode folder
.vscode/

# IntelliJ IDEA/PyCharm folders
.idea/

# python cache files
__pycache__/
*.pyc

# python virtual environment for development
.venv/

# pyinstaller files
pyinstaller/
dist/
build/
*.spec

# unused executables dir
bin/

# testing workflows will fail because Youtube flags the IP address as a bot
.github/workflows/test-*.yml
